{% extends 'base.html' %}

{% block content %}
    <section class="vh-100 bg-image" style="background-image: url('{{MEDIA_URL}}register_bck.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center">
      <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
              <div class="card" style="border-radius: 15px;">
                <div class="card-body p-5">
                  <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                  <form method="post">
                    {% csrf_token %}
                    <div class="form-outline mb-4">
                      <input name="username" type="text" id="form3Example1cg" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1cg">Username</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input name="email" type="email" id="form3Example3cg" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example3cg">Email</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input name="password1" type="password" id="form3Example4cg" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example4cg">Password</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input name="password2" type="password" id="form3Example4cdg" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                    </div>

{#                    <div class="form-check d-flex justify-content-center mb-5">#}
{#                      <input#}
{#                        class="form-check-input me-2"#}
{#                        type="checkbox"#}
{#                        value=""#}
{#                        id="form2Example3cg"#}
{#                      />#}
{#                      <label class="form-check-label" for="form2Example3g">#}
{#                        I agree all statements in <a href="" class="text-body"><u>Terms of service</u></a>#}
{#                      </label>#}
{#                    </div>#}

                    <div class="d-flex justify-content-center">
                      <button type="submit" class="btn btn-primary btn-block btn-lg gradient-custom-4">Register</button>
                    </div>

                    <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="{% url 'login' %}" class="fw-bold text-body"><u>Login here</u></a></p>

                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include 'social/message.html' %}
{% endblock %}
