
.form_content {
    margin-top: 20px;
}

.form_content label{
    display: none;
}

#id_content {
    outline: 0;
    border-width: 0 0 2px;
    border-color: blue;
}

.btn-circle {
    width: 36px;
    height: 36px;
    padding: 6px 0px;
    border-radius: 50%;
    text-align: center;
    font-size: 1rem;
    line-height: 1.42857;
}

.btn-add {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 10px;
    right: 10px;
    font-size: 1.5rem;
}

.artist_list {
    max-height: 30vh;
    overflow-y: scroll;
}

    .artist_list ul {
        list-style-type: none;
    }