{% extends 'base.html' %}
{%  load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'social/css/form.css' %}">

{% endblock %}

{% block title %} Concert Together {% endblock %}


{% block content %}
    <div class="container">
        {% include 'social/side_nav.html' %}
        <div class="row">
            {% include 'social/menu.html' %}
            {% include 'social/search_form.html' %}
        </div>
    </div>

    <div class="container click-outside">
        <div class="row" style="margin-bottom: 10px">
            <div class="col-9">
                <h2 class="display-5">Prossimi Concerti</h2>
            </div>
            <div class="col-3">
                <a href="{% url 'home' %}" class="btn btn-primary btn-sm">Ricarica Concerti</a>
            </div>
        </div>
        {% include 'social/event_card.html' %}
    </div>
    {% include 'social/message.html' %}


    {% if user.is_authenticated %}

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-circle btn-add" data-bs-toggle="modal" data-bs-target="#addEventModal"> + </button>

        <!-- Add event Modal -->
        <div class="modal fade " id="addEventModal" tabindex="-1" aria-labelledby="addEventModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="add-event-form" method="post" class="row px-2">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    <input type="text" name="{{ event_form.name.html_name }}" class="form-control" placeholder="Event name" aria-label="Event name" required>
                                </div>
                            </div>

                            <div class="row gy-2">
                                <div class="col">
                                    <input type="date" name="{{ event_form.date.html_name }}" class="form-control" aria-label="Event date" required>
                                </div>
                                <div class="col">
                                    <input type="text" name="{{ event_form.location.html_name }}" class="form-control" placeholder="Event location" aria-label="Event location" required>
                                </div>
                            </div>

                            <div class="row input-group gy-2">
                                <div class="col artist_list">
                                    {{ event_form.artist }}
                                </div>
                            </div>

                            <div class="row input-group gy-2">
                                <div class="col">
                                    <input type="text" name="{{ event_form.n_seat.html_name }}" class="form-control" placeholder="Numero posti auto" required>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                        <button type="submit" name="{{ event_form.prefix }}" class="btn btn-primary" form="add-event-form">Conferma</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}



{% endblock %}


{% block javascript %}
    <script src="{% static 'social/js/menu.js' %}"></script>

{% endblock %}