{% extends 'base.html' %}
{% load static %}

{% block head %}
    <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <link rel="stylesheet" href="{% static 'social/css/form.css' %}">
    <style>

        .nopadding {
            padding: 0 !important;
            margin: 0 !important;
        }

        #messages {
            max-height: 75vh;
            overflow-y: scroll;
            margin-bottom: 1rem;
        }

        .msg-container p {
            padding: .5rem;
            margin-bottom: .5rem;
        }

        .msg-username {
            border-bottom: 0px !important;
        }

        .msg-username p {
            font-weight: bold;
            padding: 0;
            margin-bottom: 0;
        }

        .msg-text p {
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .msg-tmstmp {
            text-align: right;
        }

        .msg-tmstmp p {
            color: #6c757d;
            font-size: .7rem;
        }
    </style>

{% endblock %}

{% block content %}

    <div class="container">
        {% include 'social/side_nav.html' %}
        <div class="row">
            {% include 'social/menu.html' %}
            <div class="col-11"></div>
        </div>
    </div>

    <div class="container click-outside">
        <div class="row align-items-center mb-3">
            <div class="col-9">
                <h1 id="group-title" class="display-5" style="cursor: pointer">{{ group.group_name }}</h1>
            </div>
            <div class="col-3">
                {{ group.tot_ppl }} Persone
            </div>
        </div>

        <div id="messages">
        </div>

        <div class="container row">
            <div class="input-group" style="padding: 0; margin: 0">
                <input type="text" class="form-control" id="text_input" placeholder="Scrivi nel gruppo"
                       aria-describedby="send_message">
                <button id="send_message" class="btn btn-primary" type="button"><i class="bi bi-cursor-fill"></i>
                </button>
            </div>

        </div>
    </div>

    {# GROUP MODAL #}
    <div class="modal fade" id="groupModal" tabindex="-1" style="z-index: 1070">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ group.group_name }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% for u in group.usergroup_set.all %}
                        <div class="row gy-2 align-items-center">
                            <div class="col-4">
                                <img src="{{ MEDIA_URL }}{{ u.user.user_profile.profile_photo }}"
                                     class="rounded-circle img-fluid img-thumbnail"
                                     style=" {% if u.is_owner %} background-color: yellow {% endif %}; width: 40%; padding: .15rem"
                                     alt="profile photo">
                            </div>
                            <div class="col-4">
                                <p>{{ u.user.username }}</p>
                            </div>
                            <div class="col-2">
                                {% if u.is_owner %}
                                    <img class="img-fluid" style="width: 60%" src="{{ MEDIA_URL }}rock.png">
                                {% endif %}
                            </div>
                            <div class="col-2">
                                {% if u.needs_ride %}
                                    <img class="img-fluid" style="width: 60%" src="{{ MEDIA_URL }}car.png">
                                {% else %}
                                    <img class="img-fluid" style="width: 60%" src="{{ MEDIA_URL }}human.png">
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>




{% endblock %}

{% block javascript %}
    <script src="{% static 'social/js/menu.js' %}"></script>
    <script src="{% static 'social/js/chat.js' %}" type="text/babel"></script>
    <script type="text/babel">

        {# Open Modal #}
        var myModal = new bootstrap.Modal(document.getElementById('groupModal'))
        $("#group-title").on("click", function () {
            myModal.show()
        })


        $(document).ready(function () {
            ReactDOM.render(<Chat url="/chat/{{ group.id }}" seconds="3000"/>, document.getElementById('messages'));
        });

        const csrftoken = getCookie('csrftoken')
        $("#send_message").on("click", function () {
            fetch('/chat/{{ group.id }}', {
                method: 'POST',
                credentials: 'same-origin',
                headers: {
                    'Accept': 'application/text',
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': csrftoken,
                },
                body: $("#text_input").val()
            }).then(response => {
                console.log(response)
                if (response.status === 200) {
                    $("#text_input").val("")
                }

            })
        })

    </script>
{% endblock %}