{% extends 'base.html' %}
{%  load static %}

{% block content %}
    <div class="container">
        {% include 'social/side_nav.html' %}
        <div class="row">
            {% include 'social/menu.html' %}
            <div class="col-11"></div>
        </div>
    </div>

    <div class="container click-outside">
        <h2 class="display-5" style="text-align: center">I miei Concerti</h2>
        {% include 'social/event_card.html' %}
    </div>
    {% include 'social/message.html' %}

{% endblock %}


{% block javascript %}
    <script src="{% static 'social/js/menu.js' %}"></script>

{% endblock %}