{% for g in groups %}
    <div class="card {% if g.is_past %}bg-secondary{% endif %}">
        <h5 class="card-header">{{ g.group_name }}</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-4" style="z-index: 1020">
                    <ul class="list-group" style="max-height: 15vh; overflow-y: scroll">
                        {% for artist in g.event.artist.all %}
                            <li class="list-group-item {% if g.is_past %}bg-secondary{% endif %}" style="font-size: .8rem"><strong> {{ artist.name }}</strong>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-8">
                    <div class="row">
                        <p class="card-title"><i>{{ g.event.location }}</i> - {{ g.event.date }}</p>
                    </div>
                    <div class="row">
                        <p>Posti auto: {{ g.seats }} / {{ g.max_n_seat }}</p>
                    </div>
                    <div class="row justify-content-evenly" style="padding-bottom: 20px">
                        <div class="col-6">
                            {% for u in g.usergroup_set.all %}
                                <img src="{{ MEDIA_URL }}{{ u.user.user_profile.profile_photo }}"
                                     class="rounded-circle img-fluid img-thumbnail"
                                     style=" {% if u.is_owner %} background-color: yellow {% endif %}; width: 30%; padding: .15rem"
                                     alt="profile photo">

                            {% endfor %}
                        </div>
                        <div class="col-6">
                            <p>{{ g.tot_ppl }} {% if g.tot_ppl > 1 %}Persone{% else %}Persona{% endif %}</p>
                        </div>
                    </div>

                    {% if not g.is_past %}
                        <div class="row justify-content-end">
                            {% if user.is_authenticated %}
                                {% if user|is_in:g %}
                                    <div class="col-4">
                                        <a href="{% url 'chat-group' g.id %}" class="btn btn-success btn-sm">Chat</a>
                                    </div>
                                    {% if g.owner_id == user.id %}
                                        <div class="col-4" style="padding: 0">
                                            {#                                        <a href="{% url 'delete-group' g.id %}" class="btn btn-danger btn-sm">Elimina</a>#}
                                            <button data-bs-toggle="modal" data-bs-target="#deleteGroupModal{{ g.id }}"
                                                    class="btn btn-danger btn-sm">Elimina
                                            </button>
                                        </div>
                                    {% else %}
                                        {# Utente appartiene al gruppo #}
                                        <div class="col-4" style="padding: 0">
                                            {#                                        <a href="{% url 'exit-group' g.id %}" class="btn btn-danger btn-sm">Esci</a>#}
                                            <button data-bs-toggle="modal" data-bs-target="#exitGroupModal{{ g.id }}"
                                                    class="btn btn-danger btn-sm">Esci
                                            </button>
                                        </div>
                                    {% endif %}

                                {% else %}
                                    <div class="col-4">
                                        {#                                    <a href="{% url 'enter-group' g.id %}" class="btn btn-primary btn-sm">Entra</a>#}
                                        <button type="button" data-bs-toggle="modal"
                                                data-bs-target="#enterGroupModal{{ g.id }}"
                                                class="btn btn-primary btn-sm">
                                            Entra
                                        </button>
                                    </div>
                                {% endif %}
                            {% else %}
                                <div class="col-4">
                                    <a href="{% url 'register' %}" class="btn btn-primary btn-sm">Entra</a>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>

        <!-- Enter Group Modal -->
        <div class="modal fade" id="enterGroupModal{{ g.id }}" tabindex="-1" aria-labelledby="enterGroupLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body" style="text-align: center">
                        <form id="enter-form{{ g.id }}" method="post" action="{% url 'enter-group' %}">
                            {% csrf_token %}
                            <p>Vuoi entrare in questo gruppo ?</p>
                            <label id="{{ enter_group_form.needs_ride.html_name }}">Ti serve un passaggio ?</label>
                            <input type="checkbox" name="{{ enter_group_form.needs_ride.html_name }}" checked="">
                            <input type="hidden" name="{{ enter_group_form.group_id.html_name }}" value="{{ g.id }}">

                        </form>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Annulla</button>
                        <button type="submit" name="{{ enter_group_form.prefix }}" class="btn btn-primary btn-sm"
                                form="enter-form{{ g.id }}">Conferma
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Exit Group Modal -->
        {% include 'social/simple_modal.html' with modal_name="exitGroupModal" id=g.id body_content="Vuoi uscire da questo gruppo ?" action_url="exit-group" %}

        <!-- Delete Group Modal -->
        {% include 'social/simple_modal.html' with modal_name="deleteGroupModal" id=g.id body_content="Vuoi eliminare questo gruppo ?" action_url="delete-group" %}

    </div>

    <hr>
{% endfor %}





