{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="col-1 container-fluid align-self-center" style="cursor: pointer" id="openMenu">
        <i class="bi bi-music-note-list" style="font-size: 2rem; color: blue;"></i>
    </div>

{% endblock %}