{% for message in messages %}
    <div class="alert alert-{% if message.level_tag == 'error' %}danger
                            {% else %}{{ message.level_tag }} {% endif %}
                            alert-dismissible fade show" role="alert" style="position: fixed; bottom: 10px; z-index: 1080; text-align: center; width: 100%; margin: auto;">
        <p style="margin: 0">{{ message | safe }}</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}