{% extends 'base.html' %}
{% load static %}

{% block head %}
    <style>

        .testimonial-card .card-up {
            height: 120px;
            overflow: hidden;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
        }

        .aqua-gradient {
            background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
        }

        .testimonial-card .avatar {
            width: 120px;
            margin-top: -60px;
            overflow: hidden;
            border: 5px solid #fff;
            border-radius: 50%;
        }

        .input_modify {
            display: none;
        }

        .hidden_input {
            display: none;
        }

    </style>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        {% include 'social/side_nav.html' %}
        <div class="row">
            {% include 'social/menu.html' %}
            <div class="col-11"></div>
        </div>
    </div>

    <div class="container click-outside">
        <form action="{% url 'profile' %}" method="post" enctype="multipart/form-data">
            <section class="mx-auto my-5" style="max-width: 23rem;">
                {% csrf_token %}
                <div class="card testimonial-card mt-2 mb-3">
                    <div style="position: absolute; right: 0; top: 0; padding: 5px">
                        <i class="bi bi-pencil" id="modify" style="font-size: 1.5rem; cursor: pointer"></i>
                        <button type="submit" class="btn btn-dark btn-sm" id="submit_modify" style="display: none">Confirm</button>
                    </div>

                    <div class="card-up aqua-gradient"></div>

                    <div class="avatar mx-auto white">
                            <img src="{{MEDIA_URL}}{{ profile.profile_photo }}" class="rounded-circle img-fluid" alt="profile photo">
                    </div>
                    <div class="input-group mb-3 img_loader" style="display: none">
                        <input type="file" name="profile_photo" class="form-control" id="inputGroupFile01">
                    </div>

                    <div class="card-body text-center">
                        <h4 class="card-title font-weight-bold">{{ profile.user.username }}</h4>
                        <div class="md-form form-sm hidden_input">
                            <input type="text" class="form-control" name="username" value="{{ profile.user.username }}">
                        </div>
                        <hr>

                        <p class="profile_fields"><i class="fas fa-quote-left"></i> {{ profile.short_bio }}</p>
                        <div class="md-form form-sm input_modify">
                            <input type="text" class="form-control" name="short_bio" value="{{ profile.short_bio }}">
                        </div>
                        <hr>

                        <p><i class="fas fa-quote-left"></i> {{ profile.user.email }}</p>
                        <div class="md-form form-sm hidden_input">
                            <input type="text" class="form-control" name="email" value="{{ profile.user.email }}">
                        </div>
                    </div>
                </div>

            </section>
        </form>

        {% include 'social/message.html' %}
    </div>

{% endblock %}

{% block javascript %}
    <script src="{% static 'social/js/menu.js' %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>

    <script>

        $("#modify").on("click", function (){
            $(this).css("display","none");
            $("#submit_modify").css("display","block");
            $(".profile_fields").css("display","none");
            $(".input_modify").css("display","block");
            $(".img_loader").css("display","flex");
        })
    </script>
{% endblock %}