{% extends 'base.html' %}
{% load static %}

{% block head %}
        <link rel="stylesheet" href="{% static 'social/css/form.css' %}">
{% endblock %}

{% block content %}

    <form class="search_form col" style="padding-bottom: 20px" method="post">
        <div class="container row p-1 form_content">
            {% csrf_token %}
            <div class="col-7 ">
                {{ search_form.content }}
            </div>
            <div class="col-4">
                {{ search_form.filters }}
            </div>
            <div class="col-1">
                <button type="sumbit" name="{{ search_form.prefix }}" class="btn btn-primary btn-circle"><i class="bi bi-search" style="font-size: 1rem"></i></button>
            </div>
        </div>
    </form>

{% endblock %}