{% extends 'base.html' %}

{% block head %}
    <style>
        #mainMenu {
            position: fixed;
            z-index: 1070;
            min-width: 12rem;
            width: 12rem;
            height: 100vh;
            top: 0;
            left: -12rem;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
            transition: all 0.4s;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="bg-dark flex-column" id="mainMenu">
        <i class="bi bi-x-lg" style="font-size: 1.5rem; color: white; padding: 5px; cursor: pointer" id="closeMenu"></i>

        <img src="{{MEDIA_URL}}{{ user.user_profile.profile_photo }}" class="rounded-circle img-fluid" style="width: 55%; padding: 10px" alt="profile photo">

        <a class="nav-link" href="{% url 'home' %}">Home</a>
        {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'concerts' %}">Concerti</a>
            <a class="nav-link" href="{% url 'profile' %}">Profilo</a>
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a class="nav-link" href="{% url 'login' %}">Login</a>
            <a class="nav-link" href="{% url 'register' %}">Registrati</a>
        {% endif %}
    </div>

{% endblock %}