<div class="modal fade" id="{{ modal_name }}{{id}}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body" style="text-align: center">
                {{ body_content}}
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Annulla</button>
                <a href="{% url action_url id %}" type="button" class="btn btn-primary btn-sm">Conferma</a>
            </div>
        </div>
    </div>
</div>